altair
annotated-types
asttokens
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
comm
contourpy
cycler
debugpy
decorator
exceptiongroup
executing
fonttools
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
grpcio
grpcio-status
httplib2
idna
ipykernel
ipython
jedi
Jinja2
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
kiwisolver
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
narwhals
nest-asyncio
numpy
packaging
pandas
parso
pillow
platformdirs
plotly
prompt_toolkit
proto-plus
protobuf>=5.26.1
psutil
pure_eval
pyarrow
pyasn1
pyasn1_modules
pydantic
pydantic_core
pydeck
Pygments
pyparsing
python-dateutil
python-dotenv
pytz
pyzmq
referencing
requests
rich
rpds-py
rsa
seaborn
six
smmap
stack-data
streamlit
tenacity
toml
tornado
tqdm
traitlets
typing_extensions
tzdata
uritemplate
urllib3
watchdog
wcwidth